In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
os.getcwd()

'C:\\Users\\Admin\\smart_crosswalk\\analysis'

In [5]:
data = pd.read_csv("../data/handled/2022_merged_data.csv",encoding = 'cp949')

In [14]:
data = data.iloc[:,1:]

In [21]:
cols = ['통과 보행자', '보행시간', '보행자분류_일반',
       '보행자분류_적색횡단', '보행자분류_무단횡단', '연장_횟수', '연장_시간', '연장_보행자', '교통약자_목발',
       '교통약자_휠체어', '교통약자_유모차', '교통약자_합계', '잔여']

In [22]:
data.loc[data.현장명.str.startswith("자운")][cols].describe().to_csv("자운_기초통계량.csv",encoding = 'cp949')

In [20]:
data.describe().columns

Index(['번호', '신호횟수', '운영시간', '녹색시간', '통과 보행자', '보행시간', '보행자분류_일반',
       '보행자분류_적색횡단', '보행자분류_무단횡단', '연장_횟수', '연장_시간', '연장_보행자', '교통약자_목발',
       '교통약자_휠체어', '교통약자_유모차', '교통약자_합계', '잔여'],
      dtype='object')

# 기초통계량 -- > 현장별 csv 저장

In [17]:
data.현장명.unique()

array(['자운학교앞(5)', '금촌119안전센터(3)', '노인복지관(2)', '파주병원(4)'], dtype=object)

In [23]:
data.loc[data.현장명.str.startswith('금촌')][cols].describe().to_csv("자운_기초통계량.csv",encoding = 'cp949')
data.loc[data.현장명.str.startswith("노인")][cols].describe().to_csv("노인_기초통계량.csv",encoding = 'cp949')
data.loc[data.현장명.str.startswith("파주")][cols].describe().to_csv("파주병원_기초통계량.csv",encoding = 'cp949')

In [24]:
data.loc[data.현장명.str.startswith("파주")][cols].describe()

,통과 보행자,보행시간,보행자분류_일반,보행자분류_적색횡단,보행자분류_무단횡단,연장_횟수,연장_시간,연장_보행자,교통약자_목발,교통약자_휠체어,교통약자_유모차,교통약자_합계,잔여
count,10148.000000,10148.000000,10148.000000,10148.000000,10148.0,10148.000000,10148.000000,10148.000000,3225.000000,3225.000000,3225.000000,10148.000000,10148.000000
mean,15.192452,10.812983,13.685751,0.472901,0.0,1.207923,4.883918,1.012219,0.351318,0.946357,0.083411,1.213145,0.434470
std,15.962973,11.127101,14.118035,0.822442,0.0,1.867633,9.053890,2.038036,0.728487,1.387390,0.305330,1.708476,1.060105
min,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,2.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,11.000000,12.000000,10.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,22.000000,21.000000,21.000000,1.000000,0.0,2.000000,6.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000
max,111.000000,57.000000,85.000000,10.000000,0.0,20.000000,123.000000,36.000000,8.000000,10.000000,3.000000,16.000000,26.000000

#